# Gradle build files
/build/
/.gradle/
/gradle/
/out/

# IntelliJ project files
.idea/
*.iml

# Eclipse project files
.classpath
.project
.settings/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
